@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Advertisement Management System</h1>
    <p class="lead">Define campaign, advertisement for any industry on any platform</p>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="~/Content/images/bits.jfif" alt="Girl in a jacket" width="400" height="300">
    </div>
    <div class="col-md-6">
        <h2>Manages the following entities </h2>
        <ul>
            <li>Company</li>
            <li>Department</li>
            <li>Employee</li>
            <li>Customer</li>
            <li>Campaign</li>
            <li>Advertisement</li>
            <li>Invoice</li>
            <li>Industry</li>
            <li>Media</li>
            <li>Geography</li>

        </ul>
    </div>
</div>